<%= link_to "All articles", root_path%>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<time datetime = "<%= @article.form_created_at %>">
    <%= @article.form_created_at %>
</time>


<div>
  <%= link_to "Edit", edit_article_path(@article) %></li> |
  <%= link_to "Delete", @article, data: {turbo_method: :delete, turbo_confirm: "Are u shure?"} %></li>
</div>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form"%>